@using GPUStoreMVC.Models.Data;
@model GPUStoreMVC.Models.Other.GPUListVM
@{
    Layout = "_Layout";
}
<div class="container">
    <section class="search-bar">
        <form method="get" asp-action="Index">
            <input type="text" name="term" placeholder="Search for GPUs...">
            <button type="submit"><i class="fa fa-search"></i></button>
            <a class="btn btn-default" href="/Home/Index">All</a>
        </form>
    </section>
    <section class="GPUs">
        @foreach(var gpu in Model.GPUList)
        {
            <div class="GPU-card" onclick="window.location.href='/Home/GPUDetail?GPUID=@gpu.GPUID'">
                <div class="GPU-image">
                    <img src="/Uploads/@gpu.GPUImage">
                </div>
                <div class="GPU-info">
                    <h4>@gpu.Name</h4>
                    <h4>@gpu.Price $</h4>
                    <h4>@gpu.Memory</h4>
                </div>
            </div>
        }

    </section>

    <div class="pagination">
        @for(int i = 1; i<=Model.TotalPages;i++)
        {       
            if (i == Model.CurrentPage)
            {
                <a href="/Home/Index?currentpage=@i&term=@Model.Term class="active">@i</a>
            }
            else
            {
                <a href="/Home/Index?currentpage=@i&term=@Model.Term">@i</a>
            }
        }
    </div>
</div>